.testimonies-container {
    background-color: #eceff1;
    padding: 15vh 0;

    .author-info {
        @include flexbox;
        @include flexjustifycontent(center);
        @include flexalignitems(center);

        img {
            border-radius: 50px;
            height: 12vh;
            margin-right: 3vh;
        }
        h3 {
            color: $text-color;
            text-transform: uppercase;
            span {
                color: $grey-color;
                font-size: 1rem;
                text-transform: capitalize;
            }
        }
    }

    .testimony {
        text-align: center;
        padding: 8vh 15vw;
        h3 {
            color: $text-color;
        }
        p {
            color: $grey-color;
            line-height: 4vh;
        }
    }
}