@font-face {
    font-family: 'Harmonia Sans Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./../../fonts/HarmoniaSansProCyr-Regular.woff');
}

@font-face {
    font-family: 'Harmonia Sans Pro light';
    font-style: normal;
    font-weight: 300;
    src: url('./../../fonts/HarmoniaSansProCyr-Light.woff');
}

@font-face {
    font-family: 'Harmonia Sans Pro SemiBd';
    font-style: normal;
    font-weight: 500;
    src: url('./../../fonts/HarmoniaSansProCyr-SemiBd.woff');
}

@font-face {
    font-family: 'Harmonia Sans Pro Bold';
    font-style: normal;
    font-weight: 700;
    src: url('./../../fonts/HarmoniaSansProCyr-Bold.woff');
}

@font-face {
    font-family: 'Harmonia Sans Pro Black';
    font-style: normal;
    font-weight: 900;
    src: url('./../../fonts/HarmoniaSansProCyr-Black.woff');
}