//scroll redesign
/* width */
::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $grey-color;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $text-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    background: $footer-background;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

body {
    margin: 0 !important;
}

.global-container {
    background-color: $white-color;
    .container {
        max-width: 85%;
        margin: 0 auto;
    }
}

.load-content {
    margin: 0 auto;
    justify-content: center;
    display: inline-block;
  }

.top-background {
    background-color: $footer-background;
}
.header-container,
.menu-container,
.footer-background {
    .container {
        @include flexbox;
        list-style-type: none;
        padding: 0;
        @include flexjustifycontent(flex-end);
        @include flexalignitems(flex-end);
        .left-container {
            margin-right: auto;
            img {
                padding: 1rem;
            }
        }
        ul {
            @include flexbox;
            margin: 0;
            padding: 0;

            li {
                padding: 1rem;
                list-style-type: none;
                color: $grey-color;
            }
        }
        .topnav {
            overflow: hidden;

            a {
                position: relative;
                float: left;
                color: $grey-color;
                text-align: center;
                padding: 2rem;
                text-decoration: none;
                border-bottom: 2px solid $white-color;
                &:hover {
                    color: $blue-color;
                    font-weight: bold;
                    svg {
                        color: $blue-color;
                    }
                }
                &.active {
                    color: $blue-color;
                    border-bottom: 2px solid $blue-color;
                    font-weight: bold;
                    svg {
                        color: $blue-color;
                    }
                }
                &::after {
                    font-family: "Font Awesome 5 Free";
                    content: "\f0d7";
                    font-weight: 900;
                    display: none;
                }
                svg {
                    color: $grey-color;
                    margin-left: 0.5vw;
                }
            }
        }
    }
}

.footer-container {
    .footer-background {
        background-color: $text-color;
        padding: 2vh 0;
        p {
            color: $grey-color;
        }
    }
    .top-background {
        background-color: $footer-background;
        padding: 10vh 0;

        .container {
            grid-template-columns: repeat(4, 25%);
            grid-column-gap: 2.5%;
            grid-row-gap: 2vh;
            display: grid;

            p,
            li {
                color: $grey-color;
                list-style-type: disclosure-closed;
                padding-bottom: 1vh;
            }
            .links-container,
            .news-container,
            .support-container {
                ul {
                    padding: 0 2vw;
                    li {
                        padding: 1vh 0;
                        @include transition(0.3s);
                        &:hover {
                            color: $white-color;
                            cursor: pointer;
                            font-size: 1rem;
                        }
                    }
                }
            }
            h3 {
                color: $white-color;
                padding-bottom: 1.5vh;
            }
            .detail-container {
                ul {
                    padding: 0;
                    &.info {
                        li {
                            list-style-type: none;
                        }
                    }
                    &.social {
                        @include flexbox;
                        li {
                            list-style-type: none;
                            border: 1px solid $grey-color;
                            border-radius: 5px;
                            text-align: center;
                            min-width: 2vw;
                            padding: 0.5vh 0;
                            margin-right: 0.95vw;
                        }
                    }
                }
            }
            .news-container {
                ul {
                    padding: 0;
                    li {
                        display: flex;
                        .single-news-container {
                            padding-right: 1.75vh;
                            img {
                                height: 10vh;
                            }
                            h5 {
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
