@mixin flexbox{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin inlineFlex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: inline-flex;
}

@mixin transition($value) {
    -webkit-transition:  $value;
    -moz-transition: $value;
    -ms-transition: $value;
    transition: $value;
}

@mixin transform($value) {
	-ms-transform: scale($value);
    -moz-transform: scale($value);
    -webkit-transform: scale($value);
    transform: scale($value);
}

@mixin flexjustifycontent($property) {
	-webkit-justify-content: $property;
	-moz-justify-content: $property;
	-ms-justify-content: $property;
	-o-justify-content: $property;
	justify-content: $property;
}

@mixin flexalignitems($property) {
	-webkit-align-items: $property;
	-moz-align-items: $property;
	-ms-align-items: $property;
	-o-align-items: $property;
	align-items: $property;
}

@mixin boxshadow($property) {
	-webkit-box-shadow: $property;
	-moz-box-shadow: $property;
	-ms-box-shadow: $property;
	box-shadow: $property;
}