// colors

$background-color: #eceff1;
$white-color: #ffffff;
$footer-background: #303036;
$text-color: #2d2d2e;
$blue-color: #0f47a2;
$grey-color: #83838A;
$green-color: #73a061;

// fonts

$font-regular: "Harmonia Sans Pro Regular";
$font-light: "Harmonia Sans Pro light";
$font-semi-bold: "Harmonia Sans Pro SemiBd";
$font-bold: "Harmonia Sans Pro Bold";
$font-black: "Harmonia Sans Pro Black";

// screens

$largeScreen-min: 1600px;
$desktopHd-min: 1440px;
$container-desktopHd: 1240px;
$desktop-min: 1024px;
$container-desktop: 960px;
$tablet-md: 980px;
$tablet-min: 768px;
$container-tablet: 688px;
$tabletS-min: 480px;
$mobile-lg: 767px;
$mobile-md-lg: 576px;
$mobile-min: 320px;
